@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap");

:root {
	--bg-alpha: hsl(230, 19%, 12%);
	--bg-delta: hsl(233, 19%, 17%);
	--txt-alpha: hsl(221, 13%, 71%);
	--txt-bravo: hsl(223, 14%, 34%);
	--txt-delta: hsl(0, 0%, 100%);
	color-scheme: light dark;
}

* {
	font-family: "JetBrains Mono", monospace;
	font-weight: 400;
	line-height: 1.2;
	font-size: 13px;
	color: var(--txt-alpha);
}

html,
body,
#app {
	background-color: var(--bg-alpha);
	min-height: 100vh;
}

/*---------------------\
|*    <NAVIGATION>    *|
\---------------------*/
.nav {
	display: flex;
	align-items: center;
	gap: 1em;
	flex-direction: column;
	position: fixed;
	padding: 1.5em;
	z-index: 1;
	right: 0;
	user-select: none;
	background-color: var(--bg-delta);
	border-bottom-left-radius: 0.75em;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
}

.brand {
	font-weight: 600;
	font-size: 1.65em;
	background: #44ca75;
	background: linear-gradient(to top left, #44ca75 0%, #0acfc8 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn-group {
	display: flex;
	gap: 0.5em;
}

.btn {
	display: flex;
	align-items: center;
	vertical-align: middle;
	padding: 0.45em;
	cursor: pointer;
	background-color: #44ca75;
	border: 1px solid transparent;
	border-radius: 0.35em;
}

.btn:hover:enabled,
.btn:focus:enabled {
	border: 1px solid #232533;
	outline: none;
}

.btn[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}

.btn > img {
	width: 1em;
}

.btn > span {
	color: white;
	margin-left: 0.5em;
}

.link-group {
	position: fixed;
	padding: 1em;
	right: 0;
	bottom: 0;
	display: flex;
	gap: 0.5em;
}

.link {
	text-decoration: none;
	color: #acb2bf;
}

.link:hover,
.link:focus {
	color: white;
	text-decoration: underline;
}

/*-----------------\
|*    <EDITOR>    *|
\-----------------*/
.wrapper {
	position: absolute;
	display: flex;
	flex-direction: row;
	padding: 1.75em;
	min-width: 100%;
	min-height: 100%;
	background-color: var(--bg-alpha);
}

.lines {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 0 0.6em;
	text-align: end;
	user-select: none;
}

.lines > span {
	cursor: pointer;
	color: hsl(223, 14%, 34%);
}

.lines > span:hover {
	color: hsl(0, 0%, 100%);
}

.editor {
	position: relative;
	display: flex;
	width: 100%;
}

.editor > textarea {
	caret-color: #44ca75;
	position: absolute;
	overflow-y: hidden;
	height: 100%;
	width: 100%;
	border: none;
	outline: 0;
	tab-size: 4;
	resize: none;
	padding: 0;
	padding-left: 0.5em;
	background-color: var(--bg-alpha);
}

.highlighted {
	width: 100%;
	box-shadow: inset 2px 0 0 orange;
	background: rgba(187, 128, 9, 0.098);
}

.line {
	padding: 0 0.5em;
	white-space: pre;
}
