@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap");

:root {
	--bg-alpha: hsl(230, 19%, 12%);
	--bg-delta: hsl(233, 19%, 17%);
	--txt-alpha: "";
	--txt-delta: "";
	--txt-bravo: "";
}

* {
	font-family: "JetBrains Mono", monospace;
	font-weight: 400;
	line-height: 1.2;
	font-size: 13px;
	color: #acb2bf;
}

html,
body,
#app {
	min-height: 100vh;
}

/*---------------------\
|*    <NAVIGATION>    *|
\---------------------*/
.nav {
	display: flex;
	flex-direction: column;
	position: fixed;
	padding: 1.5em;
	z-index: 1;
	right: 0;
	user-select: none;
	background-color: var(--bg-delta);
	border-bottom-left-radius: 0.75em;
}

.nav > * {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.brand {
	text-align: center;
	display: inline-block;
	color: white;
	font-weight: 600 !important;
	font-size: 1.65em !important;
	background: #44ca75;
	background: linear-gradient(to top left, #44ca75 0%, #0acfc8 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn-group {
	margin-top: 0.65em;
}

.btn {
	display: flex;
	align-items: center;
	vertical-align: middle;
	padding: 0.45em;
	cursor: pointer;
	background-color: #44ca75;
	border: 1px solid transparent;
	border-radius: 0.35em;
}

.btn:active,
.btn:hover,
.btn:focus {
	border: 1px solid #232533;
	outline: none;
}

.btn[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}

.btn-group .btn:not(:first-child) {
	margin-left: 0.5em;
}

.btn > img {
	width: 12px;
}

.btn > span {
	color: white !important;
	margin-left: 0.5em;
}

.link-group {
	margin-top: 0.65em;
}

.link {
	text-decoration: none;
	color: #acb2bf;
}

.link-group span {
	margin: 0 0.5em;
}

.link:active,
.link:hover,
.link:focus {
	color: white;
	text-decoration: underline;
}

@media only screen and (max-width: 768px) {
	.nav {
		border-bottom-left-radius: 0;
		position: relative;
		width: 100vh;
	}

	.nav > * {
		justify-content: left;
	}

	.brand {
		text-align: center;
	}
}

/*-----------------\
|*    <EDITOR>    *|
\-----------------*/
.wrapper {
	position: absolute;
	display: flex;
	flex-direction: row;
	padding: 1.75em;
	min-width: 100%;
	min-height: 100%;
	background-color: var(--bg-alpha);
}

.lines {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 0 1em;
	color: #4a5162;
	text-align: end;
	user-select: none;
}

.editor {
	display: grid;
	width: 100%;
	counter-increment: listing;
}

.editor::after {
	content: attr(data-raw) " ";
	white-space: pre-wrap;
	visibility: hidden;
}

.editor > textarea {
	border: none;
	outline: 0;
	tab-size: 4;
	resize: none;
	padding: 0;
	overflow: hidden;
	background-color: var(--bg-alpha);
}

.editor > textarea,
.editor::after {
	grid-area: 1 / 1 / 2 / 2;
}
